<html>

	<head>
	
		<script data-main="scripts/app.none" type="text/javascript" src="scripts/vendor/require-jquery.js"></script>
		<script type="text/javascript" src="http://localhost:8090/socket.io/socket.io.js"></script>
	</head>
	<!--
		put styles in public/styles
		put scripts in public/scripts
		put images in public/images
		remove public/ from URLs when linking
		-->
	<body>
	mobile code goes here

	<a href="#" id="connect" class="btn"><i class="icon-refresh"></i> Connect to Arduino</a>	<a href="#" id="makedrink" class="btn"><i class="icon-glass"></i> Make a drink</a>

	<a href="http://localhost:8080/grogbot-debug.html">Debug Mode</a>

	</body>

	<script src="/scripts/grogbot.js"></script>

</html>
